<footer class="mainFooter">
    <div class="avatar">
        <span>
            Name
        </span>
    </div>
    <div class="footer-buttons">
        <div class="color-container">
            <button class="color-picker" *ngFor="let item of colors" [ngStyle]="{'background-color': item}">
            </button>
        </div>
        <button class="footer-button">function</button>
        <button class="footer-button">function</button>
        <button class="footer-button">function</button>
    </div>
</footer>
