<section class="slider-container">
    <div class="header-slider">
        <div class="title">
            <h1>Customize Car Select</h1>
        </div>
        <div class="subtitle">
            <h4>My cars</h4>
        </div>
    </div>
    <div class="range-tick">
        <input type="range" class="tick" disabled>
    </div>
    <div class="main-slider">
        <button class="slider-button">
            <img src="assets/icons/arrow.png" alt="seta" style="width:30px; height:30px; filter: invert(1); transform: scaleX(-1);">
        </button>
        <div class="slider-logo">
            <div class="logo-image">
                <img src="assets/icons/Icon1.svg" alt="">
            </div>
            <div class="logo-title">
                <h2 class="title-car">Marca de carro</h2>
            </div>
        </div>
        <button class="slider-button">
            <img src="assets/icons/arrow.png" alt="seta" style="width:30px; height:30px; filter: invert(1);">
        </button>
    </div>
</section>




