<section class="stats">
    <div class="container-stats">
        <span>{{'acceleration' | uppercase}}</span>
        <div class="gauge-container">
            <div class="background">
                <div class="actualStatus">
                    <div class="pointer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-stats">
        <span>{{'top speed' | uppercase}}</span>
        <div class="gauge-container">
            <div class="background">
                <div class="actualStatus">
                    <div class="pointer">

                    </div>
                </div>
            </div>
        </div>
    </div>
     <div class="container-stats">
        <span>{{'handling' | uppercase}}</span>
        <div class='gauge-container'>
            <div class="background">
                <div class="actualStatus">
                    <div class="pointer">
                    </div>
                </div>
            </div>
        </div>
     </div>
</section>
